In [29]:
import numpy as np
import pandas as pd
from sklearn import datasets
from sklearn.cross_validation import cross_val_score
from sklearn.cross_validation import KFold
from sklearn.preprocessing import LabelEncoder
from sklearn.cross_validation import train_test_split
from sklearn.metrics import log_loss
from sklearn.cross_validation import StratifiedKFold
from sklearn.linear_model import LogisticRegression

import os
from scipy.sparse import csr_matrix, hstack

#reading input data
models = pd.read_csv('phone_brand_device_model.csv', index_col='device_id');
models = models.reset_index()
models = models.drop_duplicates('device_id',take_last=True).set_index('device_id')
train = pd.read_csv('gender_age_train.csv', index_col='device_id');
test = pd.read_csv('gender_age_test.csv', index_col='device_id');

events = pd.read_csv('events.csv',parse_dates=['timestamp'], index_col='event_id');
app_events = pd.read_csv('app_events.csv', 
                        usecols=['event_id','app_id','is_active'],
                        dtype={'is_active':bool});
applabels = pd.read_csv('app_labels.csv');

names = pd.read_csv('sample_submission.csv', index_col='device_id');

In [30]:
train['trainrow'] = np.arange(train.shape[0])
test['testrow'] = np.arange(test.shape[0])

#mapping device model and phone brand data and adding to features
encoder = LabelEncoder().fit(models.device_model)
models['device_model'] = encoder.transform(models['device_model'])
encoder = LabelEncoder().fit(models.phone_brand)
models['phone_brand'] = encoder.transform(models['phone_brand'])

train['device_model'] = models['device_model']
test['device_model'] = models['device_model']
train['phone_brand'] = models['phone_brand']
test['phone_brand'] = models['phone_brand']

#mapping/saving target column
encoderg = LabelEncoder().fit(names.columns)
train['group'] = encoderg.transform(train['group'])

In [31]:
#mapping applications
appencoder = LabelEncoder().fit(app_events.app_id)
app_events['app'] = appencoder.transform(app_events.app_id)
napps = len(appencoder.classes_)
napps

19237

In [32]:
#mid contains for each device row indices where it appears
mid = test[['testrow']].merge(train[['trainrow']], how='outer', left_index=True, right_index=True)

In [33]:
#tying up applications with devices
deviceapps = app_events.merge(events[['device_id']], how='left',left_on='event_id',right_index=True)
deviceapps = deviceapps.groupby(['device_id','app'])['app'].agg(['size'])
deviceapps = deviceapps.merge(mid, how='left', left_index=True, right_index=True)
deviceapps = deviceapps.reset_index()
deviceapps

                   device_id    app  size  testrow  trainrow
0       -9222956879900151005    548    18      NaN     21594
1       -9222956879900151005   1096    18      NaN     21594
2       -9222956879900151005   1248    26      NaN     21594
3       -9222956879900151005   1545    12      NaN     21594
4       -9222956879900151005   1664    18      NaN     21594
5       -9222956879900151005   1848    32      NaN     21594
6       -9222956879900151005   2236    28      NaN     21594
7       -9222956879900151005   2350    28      NaN     21594
8       -9222956879900151005   2626    27      NaN     21594
9       -9222956879900151005   3384    30      NaN     21594
10      -9222956879900151005   4227    18      NaN     21594
11      -9222956879900151005   4409    19      NaN     21594
12      -9222956879900151005   4832    18      NaN     21594
13      -9222956879900151005   5076    26      NaN     21594
14      -9222956879900151005   5253    18      NaN     21594
15      -9222956879900151005   5506    18      NaN     21594
16      -9222956879900151005   5559     1      NaN     21594
17      -9222956879900151005   5884    18      NaN     21594
18      -9222956879900151005   6195    21      NaN     21594
19      -9222956879900151005   6756    19      NaN     21594
20      -9222956879900151005   7378    26      NaN     21594
21      -9222956879900151005   7586    18      NaN     21594
22      -9222956879900151005   7591    15      NaN     21594
23      -9222956879900151005   7673    18      NaN     21594
24      -9222956879900151005   7684    18      NaN     21594
25      -9222956879900151005   7735    18      NaN     21594
26      -9222956879900151005   7774    20      NaN     21594
27      -9222956879900151005   8137    21      NaN     21594
28      -9222956879900151005   8198    20      NaN     21594
29      -9222956879900151005   8372    18      NaN     21594
...                      ...    ...   ...      ...       ...
2302939  9222355582733155698  18465     2    51940       NaN
2302940  9222355582733155698  18686     2    51940       NaN
2302941  9222355582733155698  18924     2    51940       NaN
2302942  9222539910510672930   1576     1    82667       NaN
2302943  9222539910510672930   1752     1    82667       NaN
2302944  9222539910510672930   3259     1    82667       NaN
2302945  9222539910510672930   3379     1    82667       NaN
2302946  9222539910510672930   4110     1    82667       NaN
2302947  9222539910510672930   4156     1    82667       NaN
2302948  9222539910510672930   4597     1    82667       NaN
2302949  9222539910510672930   5338     1    82667       NaN
2302950  9222539910510672930   6336     1    82667       NaN
2302951  9222539910510672930   7409     1    82667       NaN
2302952  9222539910510672930   8885     1    82667       NaN
2302953  9222539910510672930   9784     1    82667       NaN
2302954  9222539910510672930  10217     1    82667       NaN
2302955  9222539910510672930  11441     1    82667       NaN
2302956  9222539910510672930  13094     1    82667       NaN
2302957  9222539910510672930  13325     1    82667       NaN
2302958  9222539910510672930  13378     1    82667       NaN
2302959  9222539910510672930  13919     1    82667       NaN
2302960  9222539910510672930  14013     1    82667       NaN
2302961  9222539910510672930  14072     1    82667       NaN
2302962  9222539910510672930  14398     1    82667       NaN
2302963  9222539910510672930  16891     1    82667       NaN
2302964  9222539910510672930  17358     1    82667       NaN
2302965  9222539910510672930  17587     1    82667       NaN
2302966  9222539910510672930  18039     1    82667       NaN
2302967  9222539910510672930  18686     1    82667       NaN
2302968  9222539910510672930  18837     1    82667       NaN

[2302969 rows x 5 columns]

In [34]:
#tying up applacation labels with devices
applabels = applabels.loc[applabels.app_id.isin(app_events.app_id.unique())]
applabels['app'] = appencoder.transform(applabels.app_id)
labelencoder = LabelEncoder().fit(applabels.label_id)
applabels['label'] = labelencoder.transform(applabels.label_id)
nlabels = len(labelencoder.classes_)

devicelabels = deviceapps[['device_id','app']].merge(applabels[['app','label']])
devicelabels = devicelabels.groupby(['device_id','label'])['label'].agg(['size'])
devicelabels = devicelabels.merge(mid, how='left', left_index=True, right_index=True)
devicelabels = devicelabels.reset_index()
devicelabels

                   device_id  label  size  testrow  trainrow
0       -9222956879900151005    117     1      NaN     21594
1       -9222956879900151005    120     1      NaN     21594
2       -9222956879900151005    126     1      NaN     21594
3       -9222956879900151005    138     2      NaN     21594
4       -9222956879900151005    147     2      NaN     21594
5       -9222956879900151005    170     1      NaN     21594
6       -9222956879900151005    181     1      NaN     21594
7       -9222956879900151005    190     1      NaN     21594
8       -9222956879900151005    207     8      NaN     21594
9       -9222956879900151005    208    11      NaN     21594
10      -9222956879900151005    212     2      NaN     21594
11      -9222956879900151005    218     2      NaN     21594
12      -9222956879900151005    219     8      NaN     21594
13      -9222956879900151005    239     5      NaN     21594
14      -9222956879900151005    240     4      NaN     21594
15      -9222956879900151005    245     1      NaN     21594
16      -9222956879900151005    246    32      NaN     21594
17      -9222956879900151005    247     5      NaN     21594
18      -9222956879900151005    248     5      NaN     21594
19      -9222956879900151005    249    64      NaN     21594
20      -9222956879900151005    250    17      NaN     21594
21      -9222956879900151005    270    14      NaN     21594
22      -9222956879900151005    271     1      NaN     21594
23      -9222956879900151005    273     1      NaN     21594
24      -9222956879900151005    275     1      NaN     21594
25      -9222956879900151005    276     2      NaN     21594
26      -9222956879900151005    279     9      NaN     21594
27      -9222956879900151005    285     1      NaN     21594
28      -9222956879900151005    287     3      NaN     21594
29      -9222956879900151005    291    31      NaN     21594
...                      ...    ...   ...      ...       ...
4118755  9222539910510672930    302     4    82667       NaN
4118756  9222539910510672930    303     4    82667       NaN
4118757  9222539910510672930    305     7    82667       NaN
4118758  9222539910510672930    306     2    82667       NaN
4118759  9222539910510672930    307     4    82667       NaN
4118760  9222539910510672930    308     1    82667       NaN
4118761  9222539910510672930    316     1    82667       NaN
4118762  9222539910510672930    317     1    82667       NaN
4118763  9222539910510672930    318     6    82667       NaN
4118764  9222539910510672930    320     1    82667       NaN
4118765  9222539910510672930    321     1    82667       NaN
4118766  9222539910510672930    322     2    82667       NaN
4118767  9222539910510672930    323     1    82667       NaN
4118768  9222539910510672930    324     4    82667       NaN
4118769  9222539910510672930    325     1    82667       NaN
4118770  9222539910510672930    326     3    82667       NaN
4118771  9222539910510672930    328     5    82667       NaN
4118772  9222539910510672930    329     1    82667       NaN
4118773  9222539910510672930    330     1    82667       NaN
4118774  9222539910510672930    401     2    82667       NaN
4118775  9222539910510672930    416     2    82667       NaN
4118776  9222539910510672930    432     2    82667       NaN
4118777  9222539910510672930    435     2    82667       NaN
4118778  9222539910510672930    443     1    82667       NaN
4118779  9222539910510672930    444     1    82667       NaN
4118780  9222539910510672930    474     2    82667       NaN
4118781  9222539910510672930    477     2    82667       NaN
4118782  9222539910510672930    478     1    82667       NaN
4118783  9222539910510672930    485     5    82667       NaN
4118784  9222539910510672930    489     1    82667       NaN

[4118785 rows x 5 columns]

In [35]:
#tying up active hours with devices
tm = events['timestamp']
hours = [g.hour for g in tm]
events['hour'] = hours
devicehours = events.merge(mid, how='left', left_on = 'device_id', right_index=True)
devicehours

,device_id,timestamp,longitude,latitude,hour,testrow,trainrow
event_id,,,,,,,
1,29182687948017175,2016-05-01 00:55:25,121.38,31.24,0,NaN,58469
2,-6401643145415154744,2016-05-01 00:54:12,103.65,30.97,0,68691,NaN
3,-4833982096941402721,2016-05-01 00:08:05,106.60,29.70,0,NaN,7337
4,-6815121365017318426,2016-05-01 00:06:40,104.27,23.28,0,NaN,9287
5,-5373797595892518570,2016-05-01 00:07:18,115.88,28.66,0,NaN,41396
6,1476664663289716375,2016-05-01 00:27:21,0.00,0.00,0,NaN,51154
7,5990807147117726237,2016-05-01 00:15:13,113.73,23.00,0,101850,NaN
8,1782450055857303792,2016-05-01 00:15:35,113.94,34.70,0,65894,NaN
9,-2073340001552902943,2016-05-01 00:15:33,0.00,0.00,0,26034,NaN
10,-8195816569128397698,2016-05-01 00:41:31,119.34,26.04,0,NaN,73853
11,8663743929678393765,2016-05-01 00:44:13,106.71,39.51,0,93488,NaN
12,8663743929678393765,2016-05-01 00:45:30,106.71,39.51,0,93488,NaN
13,8640114685470534007,2016-05-01 00:44:53,117.73,34.92,0,31378,NaN
14,-5373797595892518570,2016-05-01 00:36:21,115.88,28.66,0,NaN,41396
15,2504414082456157897,2016-05-01 00:40:45,120.62,31.31,0,101500,NaN
16,9070651185984875886,2016-05-01 00:06:06,0.00,0.00,0,76410,NaN
17,-460438353776005388,2016-05-01 00:06:33,118.44,24.71,0,95178,NaN
18,2271670507584822423,2016-05-01 00:06:27,111.46,35.64,0,100725,NaN
19,9161556264947841692,2016-05-01 00:17:37,0.00,0.00,0,109829,NaN
20,6130108008013735751,2016-05-01 00:17:33,129.51,42.91,0,NaN,58398
21,8546251726684589793,2016-05-01 00:41:54,120.66,31.31,0,78715,NaN
22,-1663840927569383079,2016-05-01 00:43:15,116.45,33.93,0,NaN,68135
23,1186608308763918427,2016-04-30 23:56:43,113.58,23.55,23,102800,NaN
24,-6672877056143385791,2016-04-30 23:57:33,87.59,43.82,23,NaN,5539
25,-4984460214693442980,2016-04-30 23:58:37,120.07,31.75,23,33231,NaN
26,4830593356246717684,2016-05-01 00:45:41,121.57,38.93,0,100497,NaN
27,-2668732172869127974,2016-05-01 00:46:35,132.03,47.25,0,NaN,33280
28,-7745575547510100089,2016-05-01 00:27:20,117.27,34.82,0,58676,NaN
29,7166563712658305181,2016-05-01 00:31:40,117.96,28.47,0,NaN,6978
30,-6615032828577640034,2016-05-01 00:28:03,0.00,0.00,0,14980,NaN
...,...,...,...,...,...,...,...
3252921,-8309025399695166287,2016-05-07 23:00:40,115.66,37.08,23,72628,NaN
3252922,-8166604013193034747,2016-05-07 22:55:38,0.00,0.00,22,49575,NaN
3252923,-6167896041643004344,2016-05-07 23:04:32,0.00,0.00,23,77262,NaN
3252924,-1196907681639317836,2016-05-07 22:57:33,0.00,0.00,22,NaN,33423
3252925,7782943363889386599,2016-05-07 22:58:04,120.21,33.40,22,44761,NaN
3252926,-4941046210228583107,2016-05-07 23:08:34,108.89,34.23,23,NaN,71096
3252927,1186608308763918427,2016-05-07 23:09:01,109.08,34.66,23,102800,NaN
3252928,9161550403806843386,2016-05-07 23:45:33,113.30,23.29,23,28009,NaN
3252929,-1744237594054651317,2016-05-07 23:48:16,0.00,0.00,23,81430,NaN
3252930,-5480375704857422779,2016-05-07 23:06:06,0.00,0.00,23,28936,NaN
3252931,7658994327733954305,2016-05-07 23:06:27,0.00,0.00,23,70976,NaN
3252932,9099527841801902700,2016-05-07 23:06:39,116.65,26.27,23,25265,NaN
3252933,-5345362364323402896,2016-05-07 23:10:51,0.00,0.00,23,NaN,24089
3252934,6783790059735370898,2016-05-07 23:06:49,0.00,0.00,23,95233,NaN
3252935,3650938144459632894,2016-05-07 23:24:01,0.00,0.00,23,NaN,25536
3252936,1186608308763918427,2016-05-07 23:20:14,117.67,36.20,23,102800,NaN
3252937,-3638757031827679242,2016-05-07 23:20:48,0.00,0.00,23,94262,NaN
3252938,5058341468436303160,2016-05-07 23:48:12,102.70,24.16,23,20532,NaN
3252939,4822156792614769827,2016-05-07 23:49:06,113.93,22.70,23,4285,NaN
3252940,4203205169882132754,2016-05-07 23:39:56,109.53,18.28,23,96441,NaN
3252941,-563333606900826189,2016-05-07 23:39:56,1.00,1.00,23,48952,NaN
3252942,2551887777268842986,2016-05-07 22:56:07,111.55,36.09,22,11394,NaN
3252943,9056370235192677834,2016-05-07 23:55:04,108.98,34.28,23,33077,NaN
3252944,6245170678544495771,2016-05-07 23:55:34,110.45,34.86,23,NaN,45176
3252945,-1666194097797895898,2016-05-07 23:56:08,111.94,25.58,23,61565,NaN
3252946,-8995272658520685777,2016-05-07 23:14:17,0.00,0.00,23,103961,NaN
3252947,6790350461641275817,2016-05-07 23:14:08,120.65,27.78,23,97636,NaN
3252948,7111660304904287709,2016-05-07 23:35:33,121.40,31.18,23,NaN,42268
3252949,2786044170600788970,2016-05-07 23:36:03,111.19,31.29,23,NaN,NaN
3252950,3315513013457872370,2016-05-07 23:20:08,112.99,28.23,23,21880,NaN

In [36]:
#making up matrix [devices , model] and [devices , brand]
#each row has a single 1 in place corresponding to used model or brand
Xtrain_model = csr_matrix((np.ones(train.shape[0]), 
                       (train.trainrow, train.device_model)))
Xtest_model = csr_matrix((np.ones(test.shape[0]), 
                       (test.testrow, test.device_model)))

Xtrain_brand = csr_matrix((np.ones(train.shape[0]), 
                       (train.trainrow, train.phone_brand)))
Xtest_brand = csr_matrix((np.ones(test.shape[0]), 
                       (test.testrow, test.phone_brand)))

In [37]:
#making up matrix [devices , active hours]
d = devicehours.dropna(subset = ['trainrow'])
Xtrain_hour = csr_matrix((np.ones(d.shape[0]), (d.trainrow, d.hour)), shape = (train.shape[0], 24))

d = devicehours.dropna(subset = ['testrow'])
Xtest_hour = csr_matrix((np.ones(d.shape[0]), (d.testrow, d.hour)), shape = (test.shape[0], 24))

In [38]:
#making up matrix [devices , application labels]
d = devicelabels.dropna(subset=['trainrow'])
Xtrain_label = csr_matrix((np.ones(d.shape[0]), (d.trainrow, d.label)), 
                      shape=(train.shape[0],nlabels))
d = devicelabels.dropna(subset=['testrow'])
Xtest_label = csr_matrix((np.ones(d.shape[0]), (d.testrow, d.label)), 
                      shape=(test.shape[0],nlabels))

In [39]:
#making up matrix [devices , installed aps]
d = deviceapps.dropna(subset=['trainrow'])
Xtrain_app = csr_matrix((np.ones(d.shape[0]), (d.trainrow, d.app)), 
                      shape=(train.shape[0],napps))
d = deviceapps.dropna(subset=['testrow'])
Xtest_app = csr_matrix((np.ones(d.shape[0]), (d.testrow, d.app)), 
                      shape=(test.shape[0],napps))


#consider only applications with at least 100 total intalations to lower number of meaningless features
large_C = 100

sums = Xtrain_app.sum(axis = 0)
leave = [i for i in range (0, sums.shape[1]) if (sums[0,i] >= large_C).any()]

Xtrain_app = Xtrain_app[:, leave]
Xtest_app = Xtest_app[:, leave]
len(leave)

1205

In [40]:
#concstensting all features
Xtrain = hstack((Xtrain_model, Xtrain_brand, Xtrain_label, Xtrain_app, Xtrain_hour), format='csr')
Xtest = hstack((Xtest_model, Xtest_brand, Xtest_label, Xtest_app, Xtest_hour), format='csr')

Y = train['group'].values

print('All features: train shape {}, test shape {}'.format(Xtrain.shape, Xtest.shape))

All features: train shape (74645, 3451), test shape (112071, 3451)

In [41]:
#evaluation of model
def score(clf):
    sf = StratifiedKFold(Y, n_folds=5)
    aver = 0
    for itrain, itest in sf:
        clf.fit(Xtrain.toarray()[itrain, :], Y[itrain])
        prob = clf.predict_proba(Xtrain.toarray()[itest, :]);
        loss = log_loss(Y[itest], prob)
        aver = aver + loss / len(sf)
    return aver

In [42]:
#searching for optimal parameters for regression model
for i in range (1, 10) :
    print(i * 0.01 , ': ', score(LogisticRegression(C = i * 0.01)))
#TODO - try to change other options

(0.01, ': ', 2.2939929481522028)
(0.02, ': ', 2.2907897854768424)
(0.03, ': ', 2.2920577455867051)
(0.04, ': ', 2.2944693481348621)

KeyboardInterrupt:

In [43]:
#saving up the answer
clf = LogisticRegression(C = 0.02)
clf = clf.fit(Xtrain.toarray(), train['group'])
prob = clf.predict_proba(Xtest.toarray())
ans = pd.DataFrame(prob, index = test.index, columns = names.columns)
ans.to_csv('my.csv',index=True)